rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, list: if request.auth != null;
      allow create, update: if userId == request.auth.uid;
    }
    match /users/{userId}/{document=**} {
      allow read: if false;
      allow create, update, read, list: if userId == request.auth.uid;
    }
    match /gin_rummy_games {
      allow read, list: if request.auth != null;
    }
    match /gin_rummy_games/{ginRummyId} {
      // We'll need to investigate a better way of securing the games
      // so that folks can't just cause havoc everywhere.
      allow create, update, read, list: if request.auth != null;
    }
    match /hearts_games {
      allow read, list: if request.auth != null;
    }
    match /hearts_games/{heartsGameId} {
      allow create, update, read, list: if request.auth != null;
    }
    match /cheat_games {
      allow read, list: if request.auth != null;
    }
    match /cheat_games/{cheatGameId} {
      allow create, update, read, list: if request.auth != null;
    }
    match /scum_games {
      allow read, list: if request.auth != null;
    }
    match /scum_games/{scumGameId} {
      allow create, update, read, list: if request.auth != null;
    }
    match /lobbies {
      allow read, list: if request.auth != null;
    }
    match /lobbies/{lobbyID} {
      allow create, update, read, list: if request.auth != null;
    }
    match /chat_rooms {
      allow read, list: if request.auth != null;
    }
    match /chat_rooms/{lobbyCode} {
      allow create, update, read, list: if request.auth != null;

      match /messages/{messageId} {
        allow create, update, read, list: if request.auth != null;
      }
    }
    match /friend_list {
      allow read, list: if request.auth != null;
    }
    match /friend_list/{userId} {
      allow create, update, read, list: if request.auth != null;

      match /friends/{friendId} {
        allow create, delete, update, read, list: if request.auth != null;
      }
    }
    match /friend_requests {
      allow read, list: if request.auth != null;
    }
    match /friend_requests/{userId} {
      allow create, update, read, list: if request.auth != null;

      match /incoming/{friendId} {
        allow create, delete, update, read, list: if request.auth != null;
      }
      match /outgoing/{friendId} {
        allow create, delete, update, read, list: if request.auth != null;
      }
    }
    match /game_invites {
      allow read, list: if request.auth != null;
    }
    match /game_invites/{userId} {
      allow create, update, read, list: if request.auth != null;

      match /incoming/{friendId} {
        allow create, delete, update, read, list: if request.auth != null;
      }
      match /outgoing/{friendId} {
        allow create, delete, update, read, list: if request.auth != null;
      }
    }
  }
}
